
body{
	width:960px;
	margin:0 auto;
}
.content{
	margin:0 auto;
	height:100%;
} 

tr{
	padding-bottom:0px;
	background-color: #ffffff;
}
td img{

	height:100px;
	width:150px;
	margin:0;
	padding-bottom:0px;
}
td{
	margin-right:0px;
	border:1px solid black;
}