.Nav li{
	font-family: cursive;
	display: inline-block;
	padding:20px;
	background-color:green;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#it{
	background-color:orange;
}
#title{
	text-align: center;
	padding:0px;
	margin-top:-16px;
	background-color:orange;
}
.Nav {
	background-color:white;
	text-align: center;
	margin-bottom: 0px;
}

a:link {
	text-decoration: none;
	color: #151515;
}

a:visited {
	text-decoration: none;
	color: #151515;
}
